{% extends "layout.html" %}
{% block content %}
	<br><br>
		
	<b><p>This website is a part of engineering work "Monitoring water supply network in terms of water security".</p>
	
	<p>In overlap info are showed informations selected from database displayed in table and scheme of model of water network from .inp plik.</p>
	
	<p>After choosing add network water network model can be send to server.</p>
	
	<p>After choosing option simulation possible is run simulation, possible options to choose are model of water network, simulation time, time and source of poisoning.</p>
	
	<p>Option results shows chart from simulation step which can be changed by buttons below. On the right data from database is presented.</p></b>
	
{% endblock content %}