{% extends "layout.html" %}
{% block content %}
	<br><br>
	
	<form enctype="multipart/form-data" action="{{ url_for('run_leak_sim') }}" method="POST">
		
		<label for="pipe"> Choose pipe </label>
		<select class="form-control" name="pipe">
			{% for p in pipes %}
				<option value="{{ p }}">{{ p }}</option>
			{% endfor %}
		</select>
		<br>
		
		<label for="sim_time" class="form-label">Simulation time</label>
		
		<input class="form-control" type="number" value="7" name="sim_time">
		<br>
		
		<label for="poison_hour" class="form-label">Leak hour</label>
		<input class="form-control" type="number" value="0" name="leak_hour">
		<br>
		
		<button type="submit" class="btn btn-dark btn-lg btn-block" disabled>Start simulation</button>
	</form>
	
	<br>
	
	{{ net }} 
	{{ node }} 
	{{ sim_time }} 
	{{ leak_hour }}
	
			{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
		{% endwith %}
{% endblock content %}